@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;500&family=Poppins:ital,wght@1,400;1,500;1,600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  border: none;
  margin: none;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  background: linear-gradient(to right, rgb(32, 31, 31), rgb(9, 9, 51));
}
